@import "~font-awesome/css/font-awesome.css";

body {
  background: #f1f3f4;
}
.box-shadow {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px;
  border-radius: .25rem;
}

.claps-icon {
  margin-top: 15px;
  margin-left: 5px;
}

.white-bg {
  background: white !important;
}

.date-labels {
  font-size: 11px;
  color: gray;
}

.like-position {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.border-radius-10{
  border-radius: 10px;
}

.heart-deeppink {
  color: deeppink;
}

.gray {
  color: gray;
}

.t-align-right {
  text-align: right
}

.t-align-left {
  text-align: left
}